<?xml version="1.0"?>
<settings>

  <!--
    Define how many particles to run and for how many batches
    in an eigenvalue calculation mode
  -->
  <eigenvalue>
    <batches>10100</batches>
    <inactive>100</inactive>
    <particles>10000</particles>
  </eigenvalue>

  <!--
    Start with uniformally distributed neutron source
    with the default energy spectrum of a Maxwellian
    and isotropic distribution.
  -->
  <source>
    <space type="box">
      <parameters>
        -10 10 0
        -10 10 0.4
      </parameters>
    </space>
  </source>

  <!-- Establish statepoints to aid in examining convergence -->

<state_point>
    <interval> 1000 </interval>
    <source_write>true</source_write>
  </state_point>

  <output>
    <cross_sections>true</cross_sections>
    <summary>true</summary>
    <tallies>true</tallies>
  </output>

  <cross_sections>./endf70.xml</cross_sections>

</settings>
